#main{
    display: flex;
    width: 100vw;
    height: 100vh;
    
    
}
#first{
   
    width: 25vw;
    height: 200vh;
    background-color: #EEEFE0;
}
#third{
 
    width: 25vw;
    height: 200vh;
    background-color: #EEEFE0;
}
#Second{
    width: 50vw;
    height: 200vh;
    background-color: #A7C1A8;
    margin: 7px;
}