body{
    display: flex;
    justify-content: center;
    background-color: rgb(40, 44, 43);
}
.card{
    background-color: rgb(255, 255, 255);
    padding: 3%;
}
.profile_image{
   display: flex;
    justify-content: center;
}
h3{
    text-align: center;
    color: rgb(0, 0, 0);
}
h6{
    text-align: center;
    font: lighter;
}

.skills{
    font: bold 15px Arial, Helvetica, sans-serif;
}