body {
    width: 100vw;
   height: 100vh;
   background-color: aqua;
   display: flex;
   justify-content: center;
   align-items: center;

}

#container{
    width: 40vw;
    height: 60vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    
}
#box-1{
    width: 40vw;
    height: 20vh;
    background-color: rgb(255, 107, 9);
    

}
#box-2{
    width: 25vw;
    height: 20vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
  
}
#box-3{
    width: 40vw;
    height: 20vh;
    background-color: rgba(1, 224, 31, 0.87);
    
}
img{
    width: 130px;
    height: 170px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}