body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  background:linear-gradient(90deg, #ffffff 0%, #ff7b00 100%);
}
.mainContainer{
    display: flex;
    position: relative;
    left:120px;
}

#container{
    display: flex;
   align-items: center;
    flex-direction: column;
    width:25vw;
    height: 85vh;
    background-color: rgb(32, 32, 32);
    border-radius: 17px;
    padding: 14px;
    box-shadow: #000000 3px 4px 1px 5px ;
}
.display{
display: flex;
height:5vw ;
width: 95%;
margin: 16px;
background-color: #4a9900;
justify-self:center;
align-items: center;
border-radius: 10px;
box-shadow: #000000 2px 2px 2px 2px;
}
.keyboard{
    display: grid;
    grid-template-columns: 52px 52px 52px 52px;
    grid-template-rows: 55px 55px 55px 55px;
   
    
   gap: 20px;
    border-radius: 10px;
    width: 95%;
    height: 76%;
    position: relative;
    top: 15px;
    
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
  
}
button{
    background-color: #3d3d3d;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
  color : rgb(255, 255, 255);
    box-shadow: #000000 2px 2px 2px 2px;
}
button:hover{
    background-color: #000000;
}
.button1{
    background-color:rgb(206, 82, 0) ;
    color: #ffffff;
}
.display input {
    width: 100%;
    height: 100%;
    font-size: 24px;
    opacity: 90%;
    border: none;
    outline: none;
    padding: 10px;
    background-color: transparent;
    text-align: right;
    color: #ffffff;
     font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
}
input{
    color: #3d3d3d;
    font: message-box;
}
.image img{

    height: 44px;
    position: relative;
    top: 126px;
    left: -46px;
    ;
}
.image h3{
    rotate: -90deg;
    position: relative;
    left: -118px;
    top: 190px;
      font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight:lighter;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.2,
    "ELSH" 0,
    "ELXP" 0;
    color: #ffffff;
    text-shadow: #000000 2px 2px 2px 2px;
    
}
.image{
    position: relative;
    top: 40px;
}
.Heading1 h1{
     font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: 5px;
  font-weight:400;
  font-style:bold;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.2,
    "ELSH" 0,
    "ELXP" 0;
    color: #ffffff;
    opacity: 90%;
    text-shadow: #000000 1px 1px 1px ;
 
   
    font-size: 100px;
    position: relative;
    top: -50px;
    text-align: center;
}